@import "../../utilities/utility-classes.scss";

.LinkH5 {
  @include link($fw-medium, 1.4rem);
}

.Row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.H5 {
  margin-right: 0.5rem;
  @include h5;
}

.LabelName {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ContentName {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
  font-family: inherit;
  font-size: 1.2rem;
  transition: all $basic-transition;
  color: $gray-3;
}

.InputContainer {
  position: relative;
  margin-bottom: 2rem;

  input {
    padding: 2rem 1rem 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid $gray-3;
    font-family: inherit;
    background-color: transparent;
    width: 100%;

    &:focus {
      border: 1px solid $gray-1;
      outline: none;
    }
  }
  input:focus + .LabelName .ContentName,
  input:not(:placeholder-shown) + .LabelName .ContentName {
    transform: translateY(-150%);
    color: $blue-1;
    font-size: 0.9rem;
  }
}

.Privacy {
  .CheckboxWrapper {
    position: relative;
  }

  input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .PrivacyLabel {
    display: inline-block;
    margin-left: 1.75rem;
    position: relative;
  }

  .LinkSystem {
    @include link($fw-semi-bold, 0.9rem);
  }
}
