@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./color-variables.module.scss";

// TYPOGRAPHY
// Font family
$primary-font: "Poppins", sans-serif;

// Font weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// Gradients
$purple-gradient: linear-gradient(180deg, $purple-1 0%, $purple-2 100%);
$blue-gradient: linear-gradient(180deg, $blue-1 0%, $blue-2 100%);
$green-gradient: linear-gradient(180deg, $green-1 0%, $green-2 100%);
$red-gradient: linear-gradient(180deg, $red-1 0%, $red-2 100%);
$yellow-gradient: linear-gradient(180deg, $yellow-1 0%, $yellow-2 100%);
$gray-gradient: linear-gradient(180deg, $gray-1 0%, $gray-2 100%);

//MIXINS

@mixin BigTitle {
  font-weight: $fw-medium;
  font-size: 3.8rem;
  letter-spacing: -5%;
}

@mixin h1 {
  font-weight: $fw-semi-bold;
  font-size: 2.4rem;
  letter-spacing: -2%;
}

@mixin h2 {
  font-weight: $fw-bold;
  font-size: 1.8rem;
  letter-spacing: -1%;
}

@mixin h3 {
  font-weight: $fw-regular;
  font-size: 1.8rem;
  letter-spacing: -1%;
}

@mixin h4 {
  font-weight: $fw-bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

@mixin h5 {
  font-weight: $fw-medium;
  font-size: 1.4rem;
}

@mixin h6 {
  font-weight: $fw-regular;
  font-size: 1.4rem;
}

@mixin bodyText($font-weight: $fw-regular) {
  font-size: 1.2rem;
  font-weight: $font-weight;
}

@mixin subtitle {
  font-size: 11px;
  line-height: 150%;
}

@mixin small($font-weight: $fw-regular) {
  font-size: 1rem;
  font-weight: $font-weight;
}

@mixin system {
  font-size: 0.9rem;
  font-weight: $fw-semi-bold;
}

@mixin button {
  font-size: 1.2rem;
  font-weight: $fw-semi-bold;
}

@mixin link($font-weight, $font-size) {
  font-weight: $font-weight;
  font-size: $font-size;
  text-decoration: underline;
  transition: all $basic-transition;

  &:link,
  &:visited {
    color: $blue-1;
  }

  &:hover {
    color: $blue-2;
  }

  &:active {
    color: $blue-1;
  }
}

// Various stuff

$basic-transition: 0.2s ease;
