@import "../../utilities/utility-classes.scss";

h1 {
  margin-bottom: 1rem;
}

.H5 {
  margin-right: 0.5rem;
  margin-bottom: 2rem;
  @include h5;
}

.CardText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;

  .LinkH5 {
    @include link($fw-medium, 1.4rem);
  }
}

.Form {
  width: 100%;
  min-height: 25rem;

  .InputContainer {
    position: relative;
    margin-bottom: 2rem;

    input {
      padding: 2rem 1rem 1rem 2rem;
      border-radius: 1rem;
      border: 1px solid $gray-3;
      font-family: inherit;
      background-color: transparent;
      width: 100%;

      &:focus {
        border: 1px solid $gray-1;
        outline: none;
      }
    }
  }

  .LabelName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .ContentName {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    font-family: inherit;
    font-size: 1.2rem;
    transition: all $basic-transition;
    color: $gray-3;
  }

  input:focus + .LabelName .ContentName,
  input:not(:placeholder-shown) + .LabelName .ContentName {
    transform: translateY(-150%);
    color: $blue-1;
    font-size: 0.9rem;
  }
}

.Row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 4rem;

  .SwitchContainer {
    display: flex;
    align-items: center;
  }
}

.LinkBody {
  @include link($fw-regular, 1.2rem);
}

.HrLine {
  position: relative;
  height: 1rem;

  p {
    font-size: 1.4rem;
    font-weight: $fw-bold;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    text-transform: uppercase;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 45%;
    height: 1px;
    background-color: $gray-1;
    top: 0;
  }

  &::before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.SocialMediaContainer {
  width: 100%;
  border-bottom: 1px solid $gray-3;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  & button {
    margin-bottom: 1rem;
  }
}
