@import "../../../utilities/utility-classes.scss";

.Button {
  border-radius: 2.4rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: opacity $basic-transition;
  font-family: inherit;
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  .Img {
    margin-right: 1rem;
  }
}
