@import "../../utilities/utility-classes.scss";

.CodeInputContainer {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 2rem;

  .ErrorMsg {
    position: absolute;
    bottom: 0;
    color: $red-1;
  }
}

.Row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  & button {
    margin-right: 1rem;
  }
}
