@import "../../utilities/utility-classes.scss";

.Profile {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;

  .ProfilePic {
    width: 6.4rem;
    height: 6.4rem;
    background-color: $gray-3;
    margin-right: 1rem;
    border-radius: 50%;
  }
  .TextSmall {
    @include small();
  }
}

.CheckboxWrapper {
  position: relative;

  .CheckboxInput {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .SignOutLabel {
    position: relative;
    margin-left: 1.75rem;
  }
}

.Form {
  width: 100%;
  .InputContainer {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;

    input {
      padding: 2rem 1rem 1rem 2rem;
      border-radius: 1rem;
      border: 1px solid $gray-3;
      font-family: inherit;
      background-color: transparent;
      width: 100%;

      &:focus {
        border: 1px solid $gray-1;
        outline: none;
      }
    }
  }

  .LabelName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .ContentName {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    font-family: inherit;
    font-size: 1.2rem;
    transition: all $basic-transition;
    color: $gray-3;
  }

  input:focus + .LabelName .ContentName,
  input:not(:placeholder-shown) + .LabelName .ContentName {
    transform: translateY(-150%);
    color: $blue-1;
    font-size: 0.9rem;
  }
}

.BtnContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
