@import "../../../utilities/utility-classes.scss";

.Switch {
  position: relative;
  display: inline-block;
  width: 2.4rem;
  height: 1.2rem;
  margin-right: 0.5rem;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .Slider::before {
    transform: translate(125%, -50%);
  }

  input:checked + .Slider {
    background-color: $blue-1;
  }

  .Slider {
    position: absolute;
    cursor: pointer;
    transition: background-color $basic-transition;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-3;
    border-radius: 24px;

    &::before {
      position: absolute;
      content: "";
      height: 1rem;
      width: 1rem;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      background-color: $gray-4;
      transition: transform $basic-transition;
      border-radius: 50%;
    }
  }
}
