@import "../../../utilities/utility-classes.scss";

.CardBody {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 45rem;
  max-width: 50rem;
  width: 50%;
  padding: 6.4rem;
  position: relative;
  z-index: 3;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 95%;
  }

  @media (max-width: 425px) {
    padding: 2rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: url("../../../assets/images/bg-white.svg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.75;
    border-radius: 1.6rem;
    box-shadow: inset 40px 40px 10px -16px rgba(255, 255, 255, 0.59);
    -webkit-box-shadow: inset 39px 38px 75px -16px rgba(255, 255, 255, 0.59);
    -moz-box-shadow: inset 39px 38px 75px -16px rgba(255, 255, 255, 0.59);
    box-shadow: inset 39px 38px 75px -16px rgba(255, 255, 255, 0.59);
  }

  // &::after {
  //   content: '';
  //   height: 50%;
  //   width: 50%;
  //   border-radius: 50%;
  //   position: absolute;
  //   top: -25%;
  //   left: -25%;
  //   background: radial-gradient(circle, rgba(255,255,255,.1) 0%, rgba(255,255,255,0.5046393557422969) 200%);
  //   box-shadow: 10px 11px 31px 0px rgba(255,255,255,.2);
  // }
}
