@import "./utilities/utility-classes.scss";

/* General reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Schimbare la font size pentru a avea 1rem = 10px
10px/16px = 62.5% 
*/

html {
  font-size: 62.5%;
}

body {
  background: url("./assets/images/bg-purple.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $primary-font;
  color: $gray-1;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.body-text {
  @include bodyText;
}

.system {
  @include system;
}

.styles_react-code-input-container__tpiKG {
  width: 100% !important;
  margin-top: 5rem !important;

  .styles_react-code-input__CRulA {
    display: flex;
    flex-wrap: wrap;
    input {
      margin: 0.25rem;
      border: 1px solid $gray-3 !important;
      border-radius: 1rem !important;
      background-color: transparent !important;
      font-family: inherit !important;
      font-weight: $fw-medium !important;
      font-size: 3.6rem !important;
      color: $gray-3 !important;
      transition: $basic-transition !important;
    }
  }
}
.error > .styles_react-code-input__CRulA > input {
  border: 1px solid $red-1 !important;
  color: $red-1 !important;
  animation: shake 0.85s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
