@import "../../utilities/utility-classes.scss";

.LinkH5 {
  @include link($fw-medium, 1.4rem);
}

.Row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.H5 {
  margin-right: 0.5rem;
  @include h5;
}
.Form {
  width: 100%;
  min-height: 25rem;
}
